/*begin css base styling */

  main {
    margin: 3rem auto;
    max-width: 85vw;
    width: 55ch;
    display: block;
    text-align: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.place {
  text-align: center;
  margin: 2rem auto;
  max-width: 100vw;
  width: 60ch;
}

  h1 {
    font-size: 1.85em;
    margin: 0.70em 0;
  }

  h4 {
    justify-content: center;
  }

  hr {
    box-sizing: content-box;
    height: 1;
    overflow: visible;
  }

  /*start button styling */

  button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.10;
    margin: 1;
    overflow: visible;
    text-transform: none;
  }

  button,
  [type='button']
  [type='submit'] {
    -webkit-appearance: button;
  }

  button:-moz-focusring,
  [type='button']:-moz-focusring,
  [type='submit']:-moz-focusring {
    outline: 2px solid ButtonText;
  }

  .btn {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: #1a1a1a;
    background-color: #aeaeae;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }

  .btn.btn-info {
    background-color: rgb(95, 0, 139);
    color: #ffffff;
  }
  
  .btn.btn-info:hover {
    background-color: #9124e4;
  }

  .cent {
    text-align: center;
  }

  /* end button styling */

  .hs {
    color:rgb(95, 0, 139);
    padding-left: 25px; 
  }

  .time {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    padding-right: 40px;
  }

  progress {
    vertical-align: baseline;
  }

  textarea {
    overflow: auto;
  }

  summary {
    display: list-item;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 99%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 20px;
  color: #1a1a1a;
}

.place {
    margin-top: 1.375rem;
    margin-bottom: 1.375rem;
  }

.place2 {
    margin-right: auto;
    margin-left: auto;
}